.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #222222;
}
input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid whitesmoke;
  color: white;
  padding: 0 10px;
  width: 250px;
  height: 30px;
}
.enter {
  width: 100px;
  height: 30px;
  background: none;
  font-size: 12px;
  background: none;
  border: 1px solid whitesmoke;
  margin-left: 10px;
  color: whitesmoke;
}
.enter:hover {
  background: whitesmoke;
  cursor: pointer;
  color: #222222;
}
.todo {
  position: absolute;
  cursor: move;
  padding: 1em;
  min-width: 215px;
  color: black;
  border-radius: 5px;
}
.delete {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
}
.delete:hover {
  color: red;
  cursor: pointer;
}
